# Microsoft Graph API
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
TENANT_ID=your_tenant_id_here
EMAIL=your_email@hotmail.com

# Google Sheets
GOOGLE_SHEET_NAME=your_sheet_name_here